
<div id="content-wrapper">


    <section id="home" class="full-height px-lg-5">

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="display-4 fw-bold" data-aos="fade-down">I'M A <span class="text-brand text-danger">Web Developer
                        </span> FROM Windsor, CA</h1>
                    <p class="lead mt-2 mb-4" data-aos="fade-down" data-aos-delay="300">I am Raisha Kafle, And I craft
                        high-performing and delightful experiences tailored and conversion-focused</p>
                    <div data-aos="fade-down" data-aos-delay="600">
                        <a href="NiharResume.pdf" class="btn btn-brand me-3">Resume</a>
                        <a href="#" class="link-custom">Call: (226)-758 9817</a>
                    </div>
                </div>
            </div>
        </div>

    </section>