 <!-- WORK -->
 <section id="work" class="full-height px-lg-5 mt-4">
    <div class="container">

        <div class="row pb-4" data-aos="fade-down">
            <div class="col-lg-8">
                <h6 class="text-brand">WORK</h6>
                <h1>My Recent Projects</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-6" data-aos="fade-down">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/laravel2.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>E-commerce Website (Zshop)</h4>
                        <p> Developed using Laravel and LiveWire frameworks of PHP, my recent
                            accomplishment is an advanced e-commerce website. Seamlessly catering to regular
                            users and authors, the platform features an elegant interface for effortless
                            navigation, smart filtering, and personalized product recommendations, ensuring a
                            delightful shopping experience. Authors benefit from efficient product management
                            tools, inventory control, and insightful analytics, fostering business growth. This
                            project exemplifies the fusion of cutting-edge technologies and innovative design,
                            underscoring my dedication to excellence in web development.</p>
                        <a href="https://nsadhu.scweb.ca/Zshop/" class="link-custom">Live Website</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-down" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/angular.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Rent A Car Website</h4>
                        <p>Professionally developed using the powerful Angular framework of JavaScript, my
                            latest creation is an innovative "Rent a Car" website. This dynamic platform
                            redefines the car rental experience, offering a user-friendly interface that
                            seamlessly adapts to various devices. With intuitive search functionalities and
                            real-time availability updates, customers can effortlessly book their desired
                            vehicles, while car rental companies benefit from a comprehensive administration
                            panel for streamlined vehicle management and reservation handling. Secure payment
                            gateways and seamless data synchronization ensure a safe and reliable user
                            experience throughout the platform.</p>
                        <!-- <a href="#" class="link-custom">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-down">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/node.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Chat App</h4>
                        <p>Professionally developed using Node.js, my latest achievement is a feature-rich Chat
                            app that enables real-time communication between users. This scalable and secure
                            platform facilitates instant messaging and group conversations, elevating the way
                            users interact and connect. Through this project, I demonstrate expertise in Node.js
                            development and a commitment to crafting innovative solutions that enhance user
                            experiences. The Chat app stands as a noteworthy addition to my portfolio,
                            highlighting my dedication to delivering cutting-edge technologies that drive
                            success in the dynamic realm of web applications.</p>
                        <a href="https://github.com/NiharSadhu/ChatApp" class="link-custom">Github
                            SourceCode</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-down" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/asp.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Book Store App</h4>
                        <p>Professionally developed with ASP.NET MVC, my latest accomplishment is a
                            sophisticated book store website that offers a seamless browsing and shopping
                            experience for book enthusiasts. With intuitive user interface and interactive
                            features, customers can explore a vast collection of books, access personalized
                            recommendations, and manage their cart efficiently. The website's integration of
                            secure payment gateways ensures trustworthy transactions, while administrative
                            features streamline book inventory management and provide valuable sales analytics.
                            This project showcases my technical expertise and dedication to creating exceptional
                            user-centric web applications, making it a valuable addition to my portfolio.</p>
                        <a href="https://github.com/NiharSadhu/NiharsBookStore" class="link-custom">Github
                            SourceCode</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6" data-aos="fade-down" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/vue.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Twitter Clone</h4>
                        <p>My latest accomplishment is an impressive Twitter clone that leverages the combined
                            power of Vue.js and Laravel. This project showcases a responsive and dynamic user
                            interface, providing real-time updates and seamless navigation. By implementing
                            Laravel's robust backend capabilities, the clone ensures data security and user
                            authentication. With a focus on innovation and user-centric web development, the
                            Twitter clone stands as a testament to my expertise in modern web technologies. It
                            is a significant addition to my portfolio, demonstrating my ability to create
                            feature-rich and engaging web applications.</p>
                        <!-- <a href="https://github.com/NiharSadhu/NiharsBookStore" class="link-custom">Github
                            SourceCode</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-down" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/react.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Invoice Generator</h4>
                        <p>My latest accomplishment is an impressive Twitter clone that leverages the combined
                            power of Vue.js and Laravel. This project showcases a responsive and dynamic user
                            interface, providing real-time updates and seamless navigation. By implementing
                            Laravel's robust backend capabilities, the clone ensures data security and user
                            authentication. With a focus on innovation and user-centric web development, the
                            Twitter clone stands as a testament to my expertise in modern web technologies. It
                            is a significant addition to my portfolio, demonstrating my ability to create
                            feature-rich and engaging web applications.</p>
                        <!-- <a href="https://github.com/NiharSadhu/NiharsBookStore" class="link-custom">Github
                            SourceCode</a> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- //WORK -->