body {
    background-color: #022a30;
}

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #cd7faf;
    --color-base2: #e594c6;
    --color-brand: #f2f7e0;
    --color-brand2: #96d6f4;
    --sidbar-width: 240px;
    --font-base: "Yrsa";
}

body {

    background-color: var(--color-base2);
}
